[Unit]
Description=Python Proxy Mod Editor FER1DEV
Documentation=https://t.me/munzdev
After=network.target nss-lookup.target

[Service]
Type=simple
User=root
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStart=/etc/script/rendang/bin/python-new -O /etc/script/rendang/bin/api-new 8880
Restart=on-failure

[Install]
WantedBy=multi-user.target
